.annoucement{
    width: 480px;
    height: 280px;
    background: linear-gradient(113deg, var(--color-clear-pink), var(--color-clear-pink2));
    border-radius: 22px;
    cursor: pointer;
}

.annoucement h4{
    font-size: 26px;
    margin: 5px 10px;
}

.annoucement p{
    margin: 0 5px;
}