.sign_up input.file {
  border: var(--color-black);
  display: inline-block;
  cursor: pointer;
}

.sign_up input.file:hover {
  background-color: var(--color-black);
}

.sign_up .content_container {
  width: 80%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.089);
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sign_up .info_content:nth-child(2) input {
  margin: 5px;
}

.sign_up .button_nav {
  width: 80%;
  height: 51px;
  position: relative;
}

.sign_up .button_nav .previous {
  position: absolute;
  left: 10%;
}

.sign_up .button_nav .next {
  position: absolute;
  right: 10%; 
}

.sign_up .button_nav .finish {
  position: absolute;
  right: 10%;
}

.sign_up .radio input{
  width: 50px;
  height: 20px;
}