/* @media screen and (orientation: landscape) { */
  .Chat {
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 10px;
    overflow: hidden;
  }

  .Chat .chat_content {
    width: calc(70vw - 5vh - 100px);
  }

  .Chat .chat_content .head {
    width: calc(100% - 16px);
    background-color: var(--color-clear-pink);
    display: flex;
    gap: 8px;
    padding: 8px;
  }

  .Chat .chat_content .head img {
    width: 62px;
    height: 62px;
    border-radius: 12px;
  }

  .Chat .chat_content .chats {
    height: calc(100% - 78px - 78px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  .Chat .chat_content .chats p {
    padding: 10px;
    margin: 5px 10px;
    border-radius: 5px;
  }

  .Chat .chat_content .chats .owner {
    align-self: end;
    background-color: var(--color-clear-pink);
  }

  .Chat .chat_content .chats .recipient {
    align-self: flex-start;
    background-color: var(--color-pink);
  }

  .Chat .chat_content .foot {
    width: 100%;
    height: 62px;
    background-color: var(--color-pink);
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 8px;
  }

  .Chat .chat_content .foot button {
    width: 65px;
    height: 65px;
    cursor: pointer;
    background-color: var(--color-black);
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1.5%;
  }

  .Chat .chat_content .foot input {
    width: 90%;
    height: 20%;
    margin-right: 25px;
  }

  .Chat .chat_content .foot img {
    width: 38px;
    height: 38px;
  }

  .Chat .text_bar{
    width: 95%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* } */

/* 
@media screen and (orientation: portrait) {

} */