.search_bar .result.selected {
  background-color: var(--color-clear-pink);
}

.search_bar {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search_bar input {
  width: 95%;
  height: 30px;
  border-radius: 15px;
  background-color: var(--color-clear-pink);
  transition: all 0.2s ease-in-out;
  padding: 0 10px;
  color: black;
}

.search_bar img {
  width: 40px;
}

.search_bar .results_list {
  position: absolute;
  top: 60px;
  width: 100%;
  padding: 0 10px;
  background-color: var(--color-clear-pink);
  border-radius: 20px;
  border: 1px solid var(--color-black);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  z-index: 100;
}

.search_bar .results_list .result {
  padding: 5px 10px;
  cursor: pointer;
}

.search_bar .results_list .result:hover {
  background-color: var(--color-clear-pink);
}
