*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: "Poppins", sans-serif;
  color: var(--color-black);
}

:root {
  --color-black: #2D2A2A;
  --color-clear-pink: #fee5eb;
  --color-pink: #FF0044;
  --color-clear-pink2: #FFA4BC;

  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-clear-pink);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-pink);
}

::-webkit-scrollbar-button {
    visibility: none;
}

button{
  cursor: pointer;
  background-color: transparent;
}

textarea:focus, input:focus{
  outline: solid 1px var(--color-clear-pink);
}

body{
  orientation: landscape;
}