*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: "Poppins", sans-serif;
}

:root {
  --color-black: #2d2a2a;
  --color-clear-pink: #fee5eb;
  --color-pink: #ff0044;
  --color-clear-pink2: #ffa4bc;
  /* --color-black-pink: #38000f; */

  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-clear-pink);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-pink);
}

::-webkit-scrollbar-button {
    visibility: none;
}

button{
  cursor: pointer;
  background-color: transparent;
}
