*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: "Poppins", sans-serif;
}

:root {
  --color-black: #242828;
  --color-clear-pink: #E2FBF9;
  --color-pink: #00857C;
  --color-clear-pink2: #7DCEC8;

  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-clear-pink);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-pink);
}

::-webkit-scrollbar-button {
    visibility: none;
}

button{
  cursor: pointer;
  background-color: transparent;
}


textarea:focus, input:focus{
  outline: solid 1px var(--color-clear-pink);
}